hr {
    margin: 0 0;
}

.footer {
    padding: 1.5rem;
    background: var(--color-white);
}

.footer--title {
    color: var(--color-text);
}


.footer-list {
    display: none;
}



@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer--title {
        font-weight: 400;
        font-size: 24px;
    }

    .footer-list {
        display: block;
    }

    .footer-list--title {
        color: var(--color-gray);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer-list-item {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .footer-list--img {
        width: 35px;
        height: 35px;
    }

    .footer-list--link {
        margin-left: 0.5rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .footer-list--link:hover {
        color: var(--primary-color);
    }
    
}
@media screen and (min-width: 1728px) {
    .footer{
        padding: 3.25rem;
    }
    .footer-list {
        padding-left: 1.25rem;
        border-left: 1px solid var(--color-gray);
    }
}